<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ChatApp</title>
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Welcome to ChatApp</h1>
    <p>Join a chatroom or log in to continue.</p>
    <div class="buttons">
        <a href="/login" class="button">Login</a>
        <a href="/register" class="button">Register</a>
    </div>
   <!-- <em>&copy; Yanis Sebastian Zürcher, Jason Bichsel, Dominik Könitzer & Dominik Brinkmann</em>-->
</div>
</body>
</html>
